@model IEnumerable<ProjectDemo.EDM.tblcart>

@{
    ViewBag.Title = "Cart";
    Layout = "~/Areas/Users/Views/Shared/User_Layout.cshtml";
    double? CartTotal = 0;
    double? Amount = 0;
}
<link href="~/NumericTextBoxStyle/StyleSheet1.css" rel="stylesheet" />
<script src="~/NumericTextBoxStyle/JavaScript.js"></script>

<div class="products">
    <div class="container">
        <h2>Cart</h2>
        <br />
        <table class="table">
            <tr>
                <th>
                    Product Image
                </th>
                <th>
                    Product Name
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.qty)
                </th>
                <th>
                    Cost
                </th>
                <th>Discount</th>
                <th>Amount</th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="~/Images/Products/@item.tblproduct.image1" height="80" width="80" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tblproduct.product_name)
                    </td>
                    <td>
                        <div class="quantity buttons_added">
                            <input type="button" value="-" class="minus">
                            <input type="number" id="txtqty@(item.cart_id)" step="1" min="1" name="quantity"
                                   value="@item.qty" class="input-text qty text"
                                   onchange="updateCartQty(@item.cart_id, document.getElementById('txtqty@(item.cart_id)').value)">
                            <input type="button" value="+" class="plus">
                        </div>
                    </td>
                    <td>
                        @item.tblproduct.cost
                    </td>
                    <td>@item.tblproduct.discount</td>
                    <td>
                        @{
                            Amount = (item.tblproduct.cost - (item.tblproduct.cost * item.tblproduct.discount / 100)) * item.qty;
                            CartTotal += Amount;
                        }
                        @Amount
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new { id = item.cart_id })
                    </td>
                </tr>
            }
        </table>
        <div class="col-md-4 col-md-offset-4">
            <table class="table">
                <tr>
                    <td colspan="2" class="bg-warning"><span >Cart Summary</span></td>
                </tr>
                <tr>
                    <th>Cart Total</th>
                    <td>@CartTotal</td>
                </tr>
                <tr>
                    <th>GST(@@18%)</th>
                    <td>@(CartTotal*18/100)</td>
                </tr>
                <tr>
                    <th>Grand Total</th>
                    <td>@(CartTotal+(CartTotal*18/100))</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <a class="btn btn-success col-md-12" href="/Users/Default/Checkout">Checkout</a>
                    </td>
                </tr>
            </table>
        </div>
        <script>
            function updateCartQty(cartid, qty) {
                $.ajax({
                    url: "/Users/Default/UpdateCartQty",
                    type: "POST",
                    data: { id: cartid, qty: qty },
                    dataType: "text",
                    success: function (data) {
                        alert(data);
                        window.location.href = "/Users/Default/Cart";
                    }
                });
            }
        </script>
    </div>
</div>